[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.1.6"
boto3 = "*"
django-storages = "*"
django-environ = "*"
django-filter = "*"
channels = "*"
channels-redis = "*"
djangorestframework = "*"
djoser = "*"

[requires]
python_version = "3.7"
